<p>service works!</p>
<section>
    <div class="container bg-light mt-5 pt-5">
        <div class="text-center">
            <h1 class="fw-bold">SERVICES</h1>
            <p class="lead">Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="row text-center ">
            <div class="col-sm-12 col-md-4 col-lg-4 mt-4 mb-5">
                <h4>web design</h4>
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad eveniet quasi quibusdam voluptatum ea amet impedit nobis odio in qui!</p>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mt-4 mb-5">
                <h4>web design</h4>
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad eveniet quasi quibusdam voluptatum ea amet impedit nobis odio in qui!</p>
                
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mt-4 mb-5">
                <h4>web design</h4>
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad eveniet quasi quibusdam voluptatum ea amet impedit nobis odio in qui!</p>
            </div>
        </div>
    </div>
</section>
