<p>child1 works!</p>
<div>value from parent data is {{achild}}</div>
<button (click)="f1()" class="btn btn-primary">f1</button>
<div>my own data is{{name}}</div>
<button (click)="senddata()">send data to parent</button>


<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-stripped">
                <thead>
                   <tr>
                    <th>Name</th>
                    <th>age</th>
                    <th>desn</th>
                   </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees; let i=index">
                        <td>{{emp.name}}</td>
                        <td>{{emp.age}}</td>
                        <td>{{emp.desn}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->