<div class="container text-center " style="border: 3px solid red;">
    <h1 >this is parent component</h1>
    <div>my own data a is {{a}} <input type="number" [(ngModel)]='a'></div>
    <button (click)="f1()" class="btn btn-primary">click</button>
    <div>my child's data is {{myName}}</div>
    <div>array is : 
        <span *ngFor="let item of arr">{{item}}  ,&nbsp;</span>
        <input #newNum />
        <button (click)="arr.push(newNum.value)">add item</button>
    </div>
    <div class="row p-3">
        <div class="col-md-6 " style="border: 3px solid blue;">
            <app-child1 [achild]="a" [f1]="f1" #child1 (eventObj)="recievedatafromChild($event)"></app-child1>
        </div>
        <div class="col-md-6 " style="border: 3px solid blue;">
            <app-child2 [child1]="child1" [arr]="arr"></app-child2>
        </div>
    </div>
</div>
