<p>employee-list works!</p>

<table class="table table-bordered table-stripped">
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.sal}}</td>
            <td>{{emp.gender}}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary mx-1" (click)="getAllEmployees()">Get all emp</button>
<button class="btn btn-secondary mx-1" (click)="getMaleEmployees()">Get male emp</button>
<button class="btn btn-warning mx-1" (click)="getFemaleEmployees()">Get female emp</button>
